
#logo_div {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 33%;
  transform: translateY(-33%);
  // opacity: 0;
}

ion-img {
  width: 33%;
  height: auto;
  margin: auto;
  display: block;
  // opacity: 0;
}

.ion-spinner-class
{
  color: var(--ion-color-darkGreenC) !important;
}

.bottomRow
{
  margin-top: 20px;
}

#container {
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  // top: 50%;
  // transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}



.ion-item-choice {
  text-align: center;
}

// ion-list {
//   background-color: var(--ion-color-greyC);
// }

// ion-card {
//   background-color: var(--ion-color-greyC);
//
//   // --background: none;
//   // background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/383px-Flag_of_the_United_Kingdom.svg.png');
//   // background-position: center center;
//   // background-repeat: no-repeat;
//   // // background-size: cover;
//   // // opacity: 0.1;
// }
